*{
  margin: 0;
  padding: 0;
}



html, body{
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Ubuntu";
  height: 100%;
  width: 100%;
}

h2,h3,h4{
  font-weight: 700;
}

h2{
  font-size: em(60);
}

h3{
  font-size: em(36);
}

h4{
  font-size: em(24);
}

@media (max-width: 1200px) {
  h2{
    font-size: em(52);
  }

  h3{
    font-size: em(28);
  }

  h4{
    font-size: em(16);
  }

}

@media (max-width: 850px) {
  h2{
    font-size: em(40);
  }

  h3{
    font-size: em(24);
  }

}

@media (max-width: 450px) {
  h2{
    font-size: em(32);
  }
}
li{
  list-style: none;
}

a{
  text-decoration: none;
}

p{
  font-size: em(16);
}

@media (max-width: 850px) {
  p{
    font-size: em(12);
  }
}

@media (max-width: 450px) {
  p{
    font-size: em(10);
  }
}

.containter{
  margin: 0 auto;
  width: 1200px;
}

@media (max-width: 1200px) {
  .containter{
    width: auto;
    padding: 0 30px;

  }
}

@media (max-width: 850px) {
  .containter{
    padding: 0 10px;
  }

}

.btn{
  padding: 17px 40px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 850px) {
  .btn{
    padding: 13px 30px;
  }
}


@media (max-width: 450px) {
  .btn{
    padding: 10px 27px;
  }
}